<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome_usuario %>
    <%= form.text_field :nome_usuario %>
  </div>

  <div class="field">
    <%= form.label :matricula_usuario %>
    <%= form.text_field :matricula_usuario %>
  </div>

  <div class="field">
    <%= form.label :tipo_usuario %>
    <%= form.text_field :tipo_usuario %>
  </div>

  <div class="field">
    <%= form.label :email_usuario %>
    <%= form.text_field :email_usuario %>
  </div>

  <div class="field">
    <%= form.label :senha_usuario %>
    <%= form.text_field :senha_usuario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
