<p id="notice"><%= notice %></p>

<h1>Cadastro de Usuários</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matrícula </th>
      <th>Tipo</th>
      <th>E-mail</th>
      <th>Senha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome_usuario %></td>
        <td><%= usuario.matricula_usuario %></td>
        <td><%= usuario.tipo_usuario %></td>
        <td><%= usuario.email_usuario %></td>
        <td><%= usuario.senha_usuario %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
