<p id="notice"><%= notice %></p>

<p>
  <strong>Nome usuario:</strong>
  <%= @usuario.nome_usuario %>
</p>

<p>
  <strong>Matricula usuario:</strong>
  <%= @usuario.matricula_usuario %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @usuario.tipo_usuario %>
</p>

<p>
  <strong>Email usuario:</strong>
  <%= @usuario.email_usuario %>
</p>

<p>
  <strong>Senha usuario:</strong>
  <%= @usuario.senha_usuario %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
