<%= form_with(model: turma, local: true) do |form| %>
  <% if turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
        <% turma.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome_turma %>
    <%= form.text_field :nome_turma %>
  </div>

  <div class="field">
    <%= form.label :dias_da_semana %>
    <%= form.text_field :dias_da_semana %>
  </div>

  <div class="field">
    <%= form.label :horario_inicio %>
    <%= form.time_select :horario_inicio %>
  </div>

  <div class="field">
    <%= form.label :horario_termino %>
    <%= form.time_select :horario_termino %>
  </div>

  <div class="field">
    <%= form.label :carga_horaria_minima %>
    <%= form.number_field :carga_horaria_minima %>
  </div>

  <div class="field">
    <%= form.label :carga_horaria_maxima %>
    <%= form.number_field :carga_horaria_maxima %>
  </div>

  <div class="field">
    <%= form.label :capacidade %>
    <%= form.number_field :capacidade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
