<p id="notice"><%= notice %></p>

<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Nome turma</th>
      <th>Dias da semana</th>
      <th>Horario inicio</th>
      <th>Horario termino</th>
      <th>Carga horaria minima</th>
      <th>Carga horaria maxima</th>
      <th>Capacidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
        <td><%= turma.nome_turma %></td>
        <td><%= turma.dias_da_semana %></td>
        <td><%= turma.horario_inicio %></td>
        <td><%= turma.horario_termino %></td>
        <td><%= turma.carga_horaria_minima %></td>
        <td><%= turma.carga_horaria_maxima %></td>
        <td><%= turma.capacidade %></td>
        <td><%= link_to 'Show', turma %></td>
        <td><%= link_to 'Edit', edit_turma_path(turma) %></td>
        <td><%= link_to 'Destroy', turma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turma', new_turma_path %>
