<p id="notice"><%= notice %></p>

<p>
  <strong>Nome turma:</strong>
  <%= @turma.nome_turma %>
</p>

<p>
  <strong>Dias da semana:</strong>
  <%= @turma.dias_da_semana %>
</p>

<p>
  <strong>Horario inicio:</strong>
  <%= @turma.horario_inicio %>
</p>

<p>
  <strong>Horario termino:</strong>
  <%= @turma.horario_termino %>
</p>

<p>
  <strong>Carga horaria minima:</strong>
  <%= @turma.carga_horaria_minima %>
</p>

<p>
  <strong>Carga horaria maxima:</strong>
  <%= @turma.carga_horaria_maxima %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @turma.capacidade %>
</p>

<%= link_to 'Edit', edit_turma_path(@turma) %> |
<%= link_to 'Back', turmas_path %>
